@import "tailwindcss";

:root {
  --background: #ffffff;
  --navbar-background: #f0f1f6;
  --accent-blue: #02529a;
}

@theme inline {
  --color-accent-blue: var(--accent-blue);
  --color-background: var(--background);
  --color-navbar-background: var(--navbar-background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}